* {
    padding: 0%;
    margin: 0%;
    font-family: Arial;
}
body {
    background-color: whitesmoke;
    position: relative;
  margin: 0;
  min-height: 100%;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

a:link {
    color: #333;
    text-decoration: none;
}

a:visited {
    color: #333;
    text-decoration: none;
}

.Header_Links{
    width: 100%;
    background-color: #ed5d53;
    text-align: right;
}

.Header_Links_Icons {
    color: whitesmoke;
    padding: 10px;
}

.Header_Links_Icons i {
    padding-right: 5px;
    padding-left: 5px;
}

.Header_Links_Icons i:hover {
    size: 5px;
    color: black;
    transition: ease-out 0.5s;
}

.Header_Navigation {
    background-color: white;
    width: 100%;
    float: left;
    border-radius: 0% 0% 18px 18px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .content {
    padding-top: 102px;
}

.Header_Nav_Logo {
    padding-left: 10px;
    width: 10%;
    float: left;

}

.Header_Nav_Items{
    text-align: right;
    width: 50%;
    display: inline;
}

.Header_Nav_Items_Link {
    display: inline;
    float: right;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.Header_Nav_Items_Link:hover {
    display: inline;
    float: right;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: dimgray;
}

.Header_Nav_Items_Link.active {
    color: #ed5d53;
    text-decoration: underline;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  background-color: white;
  border: none;
  outline: none;
  font: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /*margin-top: 20px;*/
  border-radius: 18px;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Mega Menu header, if needed */
.dropdown-content .header {
  background: red;
  padding: 16px;
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 23.6%;
  padding: 10px;
  background-color: #f9f9f9;
  height: 250px;
  border-radius: 18px;
}

.column h3{
    color: gray;
  }

/* Style links inside the columns */
.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight: bold;
}

/* Add a background color on hover */
.column a:hover {
  background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.start_image_text img {
    width: 100%;
    border-radius: 0px 0px 30% 30%;
}

.start_image_text h2 {
    position: absolute;
    top: 420px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
}

.Main_Daten {
    display: flex;
}

.Main_Daten_Column {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin: 50px;
    margin-bottom: 20px;
}

.Main_Daten_Column h3 {
    color: grey;
    font-weight: normal;
    width: 80%;
    margin-left: 10%;
}

.Main_Daten_Column img {
    width: 50%;
    margin-left: 25%;
}

.Main_Daten_Column h1 {
    color: #ed5d53;
    font-size: 80px;
    font-weight: normal;
}

.Main_Daten_Item {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Main_Daten_Item button {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    width: 50%;
    background-color: red;
    border: darkred 2px solid;
    color: whitesmoke;
    font-weight: bolder;
}

.Main_Daten_Item button:hover {
    background-color: #c22419;
    transition: ease-in 0.15s;
}

.Main_Daten_Item h1{
    color: #ed5d53;
    font-size: 80px;
    font-weight: normal;
}

.Main_Alarms {
    background-color: #ed5d53;
    border-radius: 18px;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    padding-bottom: 20px;
}

.Main_Alarms h1 {
    padding: 30px;
}

.Main_Alarms_flex {
    display: flex;
}

.Main_Alarm_Header {
    flex-direction: row;
}

.Main_Alarm_Content {
    border: whitesmoke 2px solid;
    margin-left: 10%;
    width: 80%;
    flex-direction: row;

}

.Main_Alarm_Content div h2{
    padding: 10px;
}

.Main_Alarm_Column {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 50px;
    margin-bottom: 20px;
}

.Main_Alarm_Row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 50px;
    margin-bottom: 20px;
}

.Main_Alarm_Item {
    text-align: left;
    border-bottom: whitesmoke 1px solid;
    color: whitesmoke;
    padding: 20px;
}

.Main_Alarm_Item h3{
    color: whitesmoke;
    padding-bottom: 10px;
}

.Main_Alarm_Item_Last {
    text-align: left;
    color: whitesmoke;
    padding: 20px;
}

.Main_Alarm_Item_Last h3{
    color: whitesmoke;
    padding-bottom: 10px;
}

.Main_Alarm2_Item {
    width: 33%;
}

.Main_Alarm2_Item h4{
    padding: 10px;
}

.Main_Alarm2_Item h6{
    padding: 10px;
}

.Alarms_Button {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    width: 16%;
    background-color: red;
    border: whitesmoke 2px solid;
    color: whitesmoke;
    font-weight: bolder;
}

.Alarms_Button:hover {
    background-color: #c22419;
    transition: ease-in 0.15s;
}

.Main_News {
    background-color: whitesmoke;
    text-align: center;
    padding: 30px;
}

.Main_News h1 {
    color: red;
    padding-bottom: 30px;
}

.Main_News_Container{
    display: flex; 
    width: 80%;
    padding-left: 10%;
}

.Main_News_Column {
    flex-direction: column;
    width: 20%;
    margin-left: 6.6%;
    margin-right: 6.6%;
    overflow: hidden;
}

.Main_News_Column h3 {
    color: #ed5d53;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

.Main_News_Column p {
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    color: gray;
}

.News_Button {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    width: 16%;
    background-color: red;
    border: darkred 2px solid;
    color: whitesmoke;
    font-weight: bolder;
}

.Mitglied_Werden {
    width: 100%;
    background-color: #ed5d53;
    border-radius: 18px 18px 0px 0px;
    align-items: center;
}

.MW_Button {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    width: 20%;
    margin-left: 42%;
    background-color: red;
    border: whitesmoke 2px solid;
    color: whitesmoke;
    font-weight: bolder;
    font-size: xx-large;
}


.MW_Button:hover {
    background-color: #c22419;
    transition: ease-out 0.5s;
}

.foot_Links {
    background-color: #c22419;
    padding-left: 16.6%;
    
}

.foot_Links a h3{
    color: lightgray;
    padding: 10px;
    display: inline-block;
}
.foot_Links a h3:hover{
    color: gray;
    transition: ease-out 0.5s;
}

/* Einsatz Page Main */

.Einsatz_Header {
    margin: 50px;
    padding-top: 30px;
    margin-left: 10%;
}

.Einsatz_Header h1, .Einsatz_Header h2{
    color: #ed5d53;
}

.Einsatz_Header h2 {
    padding: 0px;
}

.EinsatzTable {
    text-align: left;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-spacing: 0px;
}

.TR_Date{
    background-color: grey;

}

.TR_Date th {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
}

.TR_Columns {
    background-color: lightgray;
    border-bottom: grey 2px solid;
}

.TR_Columns th{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
    margin-right: 0;
    max-width: 50px;
}


.TR_Einsatz_Entity {
    border-bottom: 1px grey solid;
}

.TR_Einsatz_Entity td {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
    margin-right: 0;
}

.TR_Einsatz_Entity:nth-child(even) {
    background-color: lightgray;
}


/* Feuerwehren Pages */

.FF_Command_FlexBox {
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 50px;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FF_Command_FlexBox .Einsatz_Header {
    padding: 0px;
    margin: 0px;
    width: 100%;
    border-bottom: 1px grey solid;
    margin-top: 30px;
    
}

.FF_Command_FlexRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    
}

.FF_Command_Item {
    display: flex;
    width: 20%;
    max-width: 250px;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.FF_Command_Item img{
    width: 80%;
}

.FF_Command_Item h3 {
    padding-top: 20px;
}

.FF_Vehicles {
    background-color: #ed5d53;
    border-radius: 18px;
} 

.FF_Vehicles .FF_Command_FlexRow .FF_Command_Item img {
    width: 100%;
}